.red {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: red;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.orange {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: orange;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.yellow {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: yellow;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.green {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: green;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.blue {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: blue;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.indigo {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: indigo;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.violet {
  height: 300px;
  width: 300px;
  border: solid black;
  background-color: violet;
  margin: auto;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 153px;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}
